<template>
  <div>
    <div class="container login">
       <div class="row">
         <div class="col-md-4"></div>
         <div class="mt-4 col-md-4">
           <div class="card">
              <div class="card-body" >
                <h5 class="card-title text-center">Login Inversionista</h5>
                <form class="form-role" @submit.prevent='investorLogin()'>
                  <div class="form-group">
                     <input type="email" placeholder="CORREO" class="form-control" v-model="userInvestor.email"> 
                  </div>
                  <div class="form-group">
                     <input type="password" placeholder="CONTRASEÑA" class="form-control" v-model="userInvestor.password"> 
                  </div>
                  <!-- <div v-for="(invest,index) of userID" :key="index"></div> -->
                  <button class="btn btn-info btn btn-block" type="submit">Iniciar sesión</button>
                </form>  
              </div>
              <div class="card-footer">
               <p class='text-center' v-if="message!=''" style="color:red">{{message}}</p>
              </div> 
           </div>
         </div>
         <div class="col-md-4"></div>
        </div> 
    </div>
    <Footer/>
  </div>
</template>

<script>
import Footer from '@/components/Footer.vue'
// Personalizado
import {getInvestorByID} from '../App.vue'
import {mapActions,mapMutations,mapState} from 'vuex'
export default {
  name: 'Login',
  components:{
    Footer 
  },
  data(){
    return{
      userInvestor: {email:'',password:''},
      message:'',
    }
  },
  methods:{
    ...mapActions(['saveUser']),
    ...mapMutations(['getUser']),
    investorLogin(){
     this.axios.post('/login-investor',this.userInvestor)
      .then((res)=>{
         const token = res.data.token;
         this.saveUser(token);
       })
      .catch(err=>{
        console.log(err);
        // this.message = err.response.data.msg;
      })  
    },
  }
}
</script>

<style>

</style>