<template>
   <div>
     <div class="container profile">
      <div class="mt-4 row">
        <!-- Update Profile Inversor -->
        <div class="mt-4 col-md-4">
          <!-- ALERT UPDATE USER -->
          <b-alert
            :show="dismissCountDown"
            dismissible
            :variant="message.color"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged"
          >  
           {{message.text}}
          </b-alert>
          <!-- </ALERT UPDATE USER -->
           <div class="card">
              <div class="card-body" >
                <h5 class="card-title text-center">Perfil</h5>
                <!-- <form class="form-role" @submit.prevent='updateInvestor(changeValues)'> ORIGINAL -->
                <form class="form-role" @submit.prevent='updateInvestor(investorEdit)'>
                  <div class="form-group">
                     <input type="text" placeholder="NAME" class="form-control" v-model="investorEdit.name"> 
                  </div>
                  <div class="form-group">
                     <input type="text" placeholder="EMAIL" class="form-control" v-model="investorEdit.email"> 
                  </div>
                  <button type="submit" class="btn btn-info btn btn-block" >ACTUALIZAR</button>
                  <button type="button" class="btn btn-warning btn btn-block" @click="cancelUpdatProfile">CANCELAR</button>
                </form>  
              </div>
           </div>
         </div>
      </div>
     </div>
     <Footer/>  
   </div>
</template>

<script>
import {mapState,mapActions,mapMutations,mapGetters} from 'vuex'
import Footer from '@/components/Footer.vue'
export default {
  name: 'Profile',
  componnets: {
     Footer 
  },
  data(){
    return{
      message: {color: 'success', text:''},
      dismissSecs: 1,
      dismissCountDown: 0,
      investors:[],
      investorEdit:{}
    }  
  },
  methods:{
    // ...mapActions(['exProfileUser']),
    // Update Profile Inversor
    // alert bootstrap-vue
    
    listInvestors(){
      this.axios.get('/investors')
       .then((res)=>{
         this.investors = res.data;
        //  console.log(this.investors);
       })
       .catch(err=>{
         console.log(err.response);
       })
    },
    profileInvestor(){
      const id = this.userDB.uid;
      this.axios.get(`/investor/${id}`)
       .then((res)=>{
         this.investorEdit = res.data;
       })
       .catch((err)=>{
         console.log(err.response);
       })
    },
    updateInvestor(item){
      this.axios.put(`/investor/${item.uid}`,item)
       .then((res)=>{
         const index = this.investors.findIndex(n => n.uid === res.data.uid);
         this.investors[index].name = this.investorEdit.name;
         this.investors[index].email = this.investorEdit.email;

         /*=================== 
           Update value userDB FROM store 
         ===================*/
         this.userDB.name = this.investorEdit.name;
          
          this.showAlert();
          this.message.text = 'ACTUALIZADO'
          this.message.color='success'
          setTimeout(()=>{
            this.$router.push({name:'ProjectInv'}) 
          },1000)
       })
       .catch(err=>{
         console.log(err.response);
       }) 
    },
    cancelUpdatProfile(){
      let confir = confirm('SEGURO QUE NO QUIERE ACTUALIZAR EL USUARIO?');
      confir === true ? this.$router.push({name:'ProjectInv'}) : this.$router.push({name:'Profile'})
    },
    // Methods alerts
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs
    },
  },
  computed:{
   ...mapState(['changeValues','userDB'])
  },
  created(){
    this.listInvestors();
    this.profileInvestor();
  }
}
</script>

<style>

</style>